/* Default (light mode) */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Dark mode */
.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
}

/* Apply the background and text colors */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.toggle-dark-mode-btn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 1px;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.toggle-dark-mode-btn svg {
  display: block; /* Remove any extra whitespace around the icon */
  vertical-align: middle; /* Ensures it aligns with surrounding text */
}

.toggle-dark-mode-btn:hover {
  color: #f39c12; /* Pikachu! */
}

body, nav {
  transition: background-color 0.3s, color 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Ensure the navbar spans the full width */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0; /* Remove horizontal padding to avoid extra space */
  text-align: center;
  background: #f4dc26; /* Yellow background */
  margin: 0; /* Remove default margin */
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  font-family: 'Pokemon Solid', sans-serif;
}
