/* Default (light mode) */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Dark mode */
.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
}

/* Apply the background and text colors */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.toggle-dark-mode-btn {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

body, nav {
  transition: background-color 0.3s, color 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Ensure the navbar spans the full width */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0; /* Remove horizontal padding to avoid extra space */
  text-align: center;
  background: #f4dc26; /* Yellow background */
  margin: 0; /* Remove default margin */
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  font-family: 'Pokemon Solid', sans-serif;
}
