# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]

# Flask cache
instance/
*.log

# Environment variables
.env

# Node modules for React frontend
pokedex_frontend/node_modules/

# Build files
pokedex_frontend/build/

# VSCode settings
.vscode/

# Miscellaneous
*.swp
.DS_Store
Thumbs.db
